<p id="notice"><%= notice %></p>
<div class="row panel panel-default">
  <table id="subscribers-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
      <td width="100px"></td>
      <td>昵称</td>
      <td>区县</td>
      <td>城市</td>
      <td>国家</td>
      <td width="200px">操作</td>
    </thead>

    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <% if subscriber.headimgurl.present? %>
            <td><%= image_tag subscriber.headimgurl %></td>
          <% else %>
            <td><%= image_tag "avatar-lg.png" %></td>
          <% end %>
          <td><%= subscriber.nick_name %></td>
          <td><%= subscriber.city %></td>
          <td><%= subscriber.province %></td>
          <td><%= subscriber.country %></td>
          <td>
            <%= link_to '显示', admin_subscribers_path(subscriber), :class => "btn btn-xs btn-info" %>
            <%= link_to '编辑', edit_admin_subscriber_path(subscriber), :class => "btn btn-xs btn-primary" %>
            <%= link_to t('删除', :default => t("删除")),
              admin_subscriber_path(subscriber),
              :method => :delete,
              :remote => true,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?')) },
              :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('#subscribers-table').dataTable({

      bAutoWidth: false
    });
  </script>
<% end %>
