<div class="weui_tabbar">
  <a href="<%= interact_communities_path %>" class="weui_tabbar_item <%= "weui_bar_item_on" if params[:action] == "interact"%>">
      <div class="weui_tabbar_icon">
          <i class="iconfont">&#xe61e;</i>
      </div>
      <p class="weui_tabbar_label">灾情互动</p>
  </a>
  <a href="<%= detection_communities_path %>" class="weui_tabbar_item <%= "weui_bar_item_on" if params[:action] == "detection"%>">
      <div class="weui_tabbar_icon">
          <i class="iconfont">&#xe606;</i>
      </div>
      <p class="weui_tabbar_label">社区实况</p>
  </a>
  <a href="<%= centre_communities_path %>" class="weui_tabbar_item <%= "weui_bar_item_on" if params[:action] == "centre"%>">
      <div class="weui_tabbar_icon">
          <i class="iconfont">&#xe61c;</i>
      </div>
      <p class="weui_tabbar_label">个人中心</p>
  </a>
</div>