<div class="disaster_container">
  <div class="communities_centre_userinfo">
    <div class="weui_container communities_centre_userinfo_content">
      <% if @subscriber.present? %>
        <div class="communities_centre_userinfo_image"><%= image_tag @subscriber.headimgurl, class: "user_pic img-circle", alt: "用户头像"%></div>
        <span><%= @subscriber.nick_name %></span>
      <% else %>
        <div class="communities_centre_userinfo_image"><%= image_tag "avatar-lg.png", class: "user_pic", alt: "用户头像"%></div>
        <span>游客</span>
      <% end -%>
    </div>
  </div>

  <div class="disaster_content row">
    <%= form_for @disaster, url: disasters_path do |f| %>
      <% if @subscriber.present? %>
        <div class="row">你好: <%= @subscriber.nick_name %></div>
        <%= f.hidden_field :openid, :value => @subscriber.openid %>
      <% end -%>
      <%= f.hidden_field :disaster_position_id, :value => @disaster_position.id %>
      <div class="col-xs-12 disaster-input disaster-time">
        <strong>灾情发生时间: </strong> <%= f.text_field :occur_time, :class => "input", placeholder: "时间", readonly:"true" %>
      </div>
      <div class="col-xs-12 disaster-input">
        <strong>灾情类别: </strong> <%= f.select :disaster_type, ["暴雨","雷电", "大风", "其它"], options = {:prompt =>"请选择灾情类型" }, :class =>"input", readonly:"true" %> <i class="iconfont right-pull pull-right">&#xe635;</i>
      </div>
      <strong class="disaster_said">灾情说明: </strong>

      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div id="weui_textarea_cell" class="weui_cell_bd weui_cell_primary">
            <%= f.text_area :explain, class: "weui_textarea", style: "height:150px", placeholder: "请输入说明", row: 3, maxlength: 200 %>
            <div id="numtj" class="weui_textarea_counter"><var style="color:#C00">--</var>／200</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 disaster-input">
        <strong>灾情地址: </strong> <span id="location_address_in"></span>
      </div>
      <div class="headTab headTabRight col-xs-12">
        <a href="javascript:;" id= "head_List"><%= f.submit "提交", class: "btn btn-success btn-lg" ,:style => "width:100%" %></a>
      </div>
    <% end %>
  </div>
  <div id="map_container2"></div>
</div>

<script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=8SWaIs2cE83Ssvv90yXPUEQQhnkG368u></script>
<script type="text/javascript" src="http://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<script type="text/javascript">
//日期选择器
  $(function(){
    $("#disaster_occur_time").datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd hh:ii P",
        autoclose: true,
        todayBtn: true,
        showMeridian: true,
        minuteStep: 15,
        pickerPosition: "bottom-right"
    });
  });

  //字数统计效果
  $(document).ready(function(){
    var text=$("#weui_textarea_cell textarea").val();
    var counter=text.length;
    $("#numtj var").text(counter);
    $(document).keyup(function() {
        var text=$("#weui_textarea_cell textarea").val();
        var counter=text.length;
        $("#numtj var").text(counter);
    });
  });

  // 百度地图API功能
  var map = new BMap.Map("map_container2");    // 创建Map实例
  map.centerAndZoom("上海",15);      // 初始化地图,用城市名设置地图中心点
  map.enableScrollWheelZoom(true);
  map.enableInertialDragging();   //两秒后开启惯性拖拽

  var geolocation = new qq.maps.Geolocation("OZBBZ-ZQLC3-MKF3U-3VCU4-DFWO7-AGFPB", "weather_survey")
  geolocation.getLocation(function(r){
    // if(this.getStatus() == BMAP_STATUS_SUCCESS){
      var x_pi=3.14159265358979324;  
      var x = r.lng;
      var y = r.lat;  
      var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * x_pi);  
      var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * x_pi);  
      var bd_lon = z * Math.cos(theta) + 0.0065;  
      var bd_lat = z * Math.sin(theta) + 0.00670;
      // 添加自定义位置图标
      var ptt = new BMap.Point(bd_lon, bd_lat);

      var mk = new BMap.Marker(ptt);
      map.addOverlay(mk);
      map.panTo(ptt);

      console.log(r);
      // var myGeo = new BMap.Geocoder();
      // myGeo.getLocation(new BMap.Point(r.point.lng, r.point.lat),
      //     function(rs) {
      //       var addComp = rs.addressComponents;
      //       var address = addComp.district+addComp.street;
      //       $("input#disaster_position_lon").val(r.point.lng);
      //       $("input#disaster_position_lat").val(r.point.lat);
      //       $("input#disaster_position_address").val(address);
            $("span#location_address_in").text(r.addr);
            // location.href = "http://localhost:3000/location_weather/query?lon="+r.point.lng+"&lat="+r.point.lat+"&name="+addComp.district+addComp.street;
          // });
      // alert('您的位置：'+r.point.lng+','+r.point.lat);
    // }
    // else {
    //   alert('failed'+this.getStatus());
    // }        
  },{enableHighAccuracy: true})
</script>
