<div class="container">
  <div class="row">时间: <%= @disaster.occur_time.strftime("%Y-%m-%d %H:%M") %></div>
  <div class="row">类型: <%= @disaster.disaster_type %></div>
  <div class="row">说明: <%= @disaster.explain %></div>
  <div class="row">地址: <%= @disaster.disaster_position.try(:address) %></div>
  <div class=""><h4>照片列表</h4></div>
  <div class="row disaster-picture-list">
    <% @disaster.disaster_pictures.each do |picture| %>
      <%= image_tag picture.image.url(:medium) %>
    <% end %>
  </div>
</div>
