<div class="row">
  <div id="mapDiv" class="col-xs-12" style="z-index:10;height:500px;border:1px solid #d3d3d3;"></div>  
</div>
<br/>
<div class="row panel panel-default">
  <table id="disasters-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
      <td>地址</td>
      <td>类型</td>
      <td>灾情时间</td>
      <td>上报者</td>
      <td>上报时间</td>
    </thead>
    <tbody>
      <% @disasters.each do |disaster| %>
        <tr>
          <td><%= disaster.disaster_position.try(:address) %></td>
          <td><%= disaster.disaster_type %></td>
          <td><%= disaster.occur_time %></td>
          <td><%= disaster.subscriber.nick_name %></td>
          <td><%= disaster.created_at %></td>
          <td>
            <%= link_to '显示', admin_disaster_path(disaster), :class => "btn btn-xs btn-info" %>
            <%= link_to '编辑', edit_admin_disaster_path(disaster), :class => "btn btn-xs btn-primary" %>
            <%= link_to t('删除', :default => t("删除")),
              admin_disaster_path(disaster),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?')) },
              :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    disasters = <%= @disasters.to_json.html_safe %>
  <% end %>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=3903299664a0b6330ca4ddfc37b1af89"></script>
  <script type="text/javascript">
    var mapObj;
    var markers = new Array();
    $(function(){
      mapObj = new AMap.Map("mapDiv", {
        view: new AMap.View2D({
          center: new AMap.LngLat(121.504,31.195),
          zoom: 10
        })
      });
      init_data();
      function init_data() {
        for(var i = 0; i < disasters.length; i++) {
          addmarker(disasters[i]);
        }
      }

      function addmarker(d) {
        if(d.disaster_position == null){return;}
        var icon;
        if(d.type=="暴雨"){
          icon = "http://61.152.126.156/cms/resource/img/icon/rain.png";
        }else if(d.type=="雷电"){
          icon = "http://61.152.126.156/cms/resource/img/icon/lightning.png";
        }else if(d.type=="大风"){
          icon = "http://61.152.126.156/cms/resource/img/icon/win.png";
        }else{
          icon = "http://webapi.amap.com/images/4.png";
        }
        lanlat = new AMap.LngLat(d.disaster_position.lon, d.disaster_position.lat);
        var markerOption = {map: mapObj, icon: icon, position: lanlat};
        var marker = new AMap.Marker(markerOption);
        markers.push(lanlat);
        var infoWindow = new AMap.InfoWindow({
          isCustom: true,
          content: createInfoWindow("灾情点","<div>时间:"+d.occur_time+"</div><img style='text-align:center;max-height:160px;width:90%;' src='system/"+d.pictures[0].id+"/images/medium/image.jpg'/><div style='word-break:break-all;'>说明:"+d.explain+"</div><div><a href='/disasters/"+d.id+"'>详细说明</a></div>"),
          size: new AMap.Size(0,0),
          autoMove: true,
          offset: new AMap.Pixel(25, -50)
        });
        var aa = function (e) { infoWindow.open(mapObj, marker.getPosition()); }
        AMap.event.addListener(marker, "click", aa);
      }
    });
    function createInfoWindow(title,content){  
      var info = document.createElement("div");  
      info.className = "info";  
      // 定义顶部标题  
      var top = document.createElement("div");  
      top.className = "info-top";  
      var titleD = document.createElement("div");  
      titleD.innerHTML = title;  
      var closeX = document.createElement("img");  
      closeX.src = "http://webapi.amap.com/images/close2.gif";  
      closeX.onclick = closeInfoWindow;  
      
      top.appendChild(titleD);  
      top.appendChild(closeX);  
      info.appendChild(top);  
      // 定义中部内容  
      var middle = document.createElement("div");  
      middle.className = "info-middle";  
      middle.innerHTML = content;  
      info.appendChild(middle);  
          
      // 定义底部内容  
      var bottom = document.createElement("div");  
      bottom.className = "info-bottom";  
      var sharp = document.createElement("img");  
      sharp.src = "http://webapi.amap.com/images/sharp.png";  
      bottom.appendChild(sharp);    
      info.appendChild(bottom);  
      return info;  
    }
    
    //关闭信息窗体  
    function closeInfoWindow(){  
      mapObj.clearInfoWindow();  
    }
  </script>
<% end %>
