<!DOCTYPE html>
<html>
  <head>
    <title>上海市防雷中心微信管理平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <%= stylesheet_link_tag 'admin/articles', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin/articles', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">
    <%= csrf_meta_tags %>
  </head>
  <body class="page-body">
    <%= render 'share/setting' %>
    <div class="page-container">
      <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <!-- logo -->
            <div class="logo">
              <%= link_to image_tag('logo@2.png'), admin_home_index_path, class: 'logo-expanded' %>
              <!-- <%= link_to image_tag('logo-collapsed@2x.png'), admin_home_index_path, class: 'logo-collapsed' %> -->
            </div>
            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
              <a href="#" data-toggle="user-info-menu">
                <i class="fa-bell-o"></i>
                <span class="badge badge-success">7</span>
              </a>
              <a href="#" data-toggle="mobile-menu">
                <i class="fa-bars"></i>
              </a>
            </div>
            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
              <a href="#" data-toggle="settings-pane" data-animate="true">
                <i class="linecons-cog"></i>
              </a>
            </div>
          </header>
          <%= render 'share/side_bar' %>
        </div>
      </div>

      <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <%= render 'share/navbar' %>

        <%= yield %>
        <script>
        jQuery(document).ready(function($) {
          $('a[href="#layout-variants"]').on('click', function(ev) {
            ev.preventDefault();
            var win = {top: $(window).scrollTop(), toTop: $("#layout-variants").offset().top - 15};
            TweenLite.to(win, .3, {top: win.toTop, roundProps: ["top"], ease: Sine.easeInOut, onUpdate: function() {
                $(window).scrollTop(win.top);
              }
            });
          });
        });
        </script>

        <%= render 'share/footer' %>
      </div>
      <%= render 'share/charts' %>
    </div>
    <%= yield :scripts %>
  </body>
</html>
