<!DOCTYPE html>
<html>
  <head>
    <title>上海市防雷中心微信管理平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <%= stylesheet_link_tag    'admin/home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin/home', 'data-turbolinks-track' => true %>
  </head>
  <body class="page-body">
    <div class="page-container">
      <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <div class="logo">
              <%= link_to image_tag('logo@2.png'), admin_home_index_path, class: 'logo-expanded' %>
            </div>
          </header>
          <%= render 'share/side_bar' %>
        </div>
      </div>

      <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <%= render 'share/navbar' %>

        <%= yield %>
        <%= render 'share/footer' %>
        <%= yield :scripts %>

      </div>
      
    </div>
  </body>
</html>
