<div class="row">
  <%= form_tag search_admin_communities_path, remote: true, method: :get, class: "navbar-form nav-left" do %>
    <div class="row form-inputs">
      <div class="input-group col-xs-6">
        <%= search_field_tag "q[street_cont]", params["q"] && params["q"]["street_cont"], class: "form-control input", placeholder: "请选择社区..." %>
      </div>
    </div>
  <% end %>
</div>
<%= form_for(@monitor_station, url: admin_monitor_stations_path) do |f| %>
  <div class="row form-inputs">
    <div class="input-group col-xs-6">
      <%= f.select :community, Community.where("district <> '上海'").distinct(:street).pluck(:street), options ={:prompt =>"请选择社区"}, :class => "form-control input", :multiple => false, :size => 5 %>
      <% if @monitor_station.errors[:community].any? %>
        <dd class="error">* <%= @monitor_station.errors[:community][0] %></dd>
      <% end %>
    </div>
    <div class="space-6"></div>
    <div class="input-group col-xs-6">
      <%= f.text_field :station_name, :placeholder => "请输入站名...", :class =>"form-control input"%>
      <% if @monitor_station.errors[:station_name].any? %>
        <dd class="error">* <%= @monitor_station.errors[:station_name][0] %></dd>
      <% end %>
    </div>
    <div class="space-6"></div>
    <div class="input-group col-xs-6">
      <%= f.text_field :station_number, :placeholder => "请输入站号...", :class =>"form-control input"%>
      <% if @monitor_station.errors[:station_number].any? %>
        <dd class="error">* <%= @monitor_station.errors[:station_number][0] %></dd>
      <% end %>
    </div>
    <div class="space-6"></div>
    <div class="input-group col-xs-6">
      <%= f.select :station_type, ["自动站", "积水站"], options ={:prompt =>"请选择站点类型"},
 :class =>"form-control input" %>
     <% if @monitor_station.errors[:station_type].any? %>
        <dd class="error">* <%= @monitor_station.errors[:station_type][0] %></dd>
      <% end %>
    </div>
    <div class="space-6"></div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

