<% content_for :title, "灾情上报" %>

<div class="communities_centre_container">
  <div id="map_container_position"></div>
  <div class="disaster_position_content" style="color: #000;">
    <div class="row">
      <p><%= @subscriber.present? ? @subscriber.nick_name : "访客" %>, 感谢您上报灾情. </p>
      <% if @disaster_position.nil? %>
        <p>请上传灾情地址完善【灾情上报】流程.</p>
      <% end %>
    </div>
    
    <div class="row"><h4>灾情地址确认</h4></div>
    <!-- <div id="map_container_position"></div> -->
    <div class="row">
    <%= form_for(@disaster_positions, url: disaster_positions_path, :html => { :multipart => true } ) do |f| %>
      <%= f.hidden_field :lon %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :address %>
      <div class="text-center">
        <i class="iconfont">&#xe607;</i>
        <span id="position" style="color: red;"></span>
      </div>
      <br>
      <div class="headTab headTabRight">
        <a href="javascript:;" id= "head_List">
          <%= f.submit "确认", class: "btn btn-success btn-lg", :style => "width:100%" %>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=8SWaIs2cE83Ssvv90yXPUEQQhnkG368u></script>
<script type="text/javascript" src="http://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var height = $(window).height()*2;
      var width = $(window).width
        $("div#map_container_position").height(height/5);
        $("div#map_container_position").width(width);
    });

    // 百度地图API功能
    var map = new BMap.Map("map_container_position");    // 创建Map实例


    var geolocation = new qq.maps.Geolocation("OZBBZ-ZQLC3-MKF3U-3VCU4-DFWO7-AGFPB", "weather_survey")
    geolocation.getLocation(function(r){
      // if(this.getStatus() == BMAP_STATUS_SUCCESS){
        var x_pi=3.14159265358979324;  
        var x = r.lng;
        var y = r.lat;  
        var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * x_pi);  
        var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * x_pi);  
        var bd_lon = z * Math.cos(theta) + 0.0065;  
        var bd_lat = z * Math.sin(theta) + 0.00670;
        // 添加自定义位置图标
        var ptt = new BMap.Point(bd_lon, bd_lat);
        var mk = new BMap.Marker(ptt);
        // 设置地图
        map.centerAndZoom(ptt,15);    // 初始化地图,用城市名设置地图中心点
        map.enableScrollWheelZoom(true);
        map.enableInertialDragging();   //两秒后开启惯性拖拽
        map.addOverlay(mk);

        console.log(r);
        $("input#disaster_position_lon").val(bd_lon);
        $("input#disaster_position_lat").val(bd_lat);
        $("input#disaster_position_address").val(r.addr);
        $("span#position").text(r.addr);      
    },{enableHighAccuracy: true})

    //单击获取点击的经纬度
    map.addEventListener("click",function(e){
        map.clearOverlays();
        var mk1 = new BMap.Marker(e.point);
        map.addOverlay(mk1);
        map.panTo(e.point);

        var myGeo = new BMap.Geocoder();
        myGeo.getLocation(new BMap.Point(e.point.lng, e.point.lat),
            function(rs) {
              var addComp = rs.addressComponents;
              var address = addComp.district+addComp.street;
              $("input#disaster_position_lon").val(e.point.lng);
              $("input#disaster_position_lat").val(e.point.lat);
              $("input#disaster_position_address").val(address);
              $("span#position").text(address);
              // location.href = "http://localhost:3000/location_weather/query?lon="+r.point.lng+"&lat="+r.point.lat+"&name="+addComp.district+addComp.street;
            });
        // alert('您的位置：'+e.point.lng+','+e.point.lat);
    });
  </script>
<% end %>
