<div class="my-panel">
	<div class="panel-bd alpha-bg weui_grids five-weather">
		<div class="weui_grid">
			<span>风 速</span>
			<i class="iconfont">&#xe60f;</i>
			<small class="five-info"><%= MonitorStation.translate_wspeed @auto_station["wind_speed"] %></small>
			<small><%= MonitorStation.translate_wdir @auto_station["wind_direction"] %></small>
		</div>
		<div class="weui_grid">
			<span>降 水</span>
			<i class="iconfont">&#xe608;</i>
			<small class="five-info"><%= @auto_station["rain"] %></small>
			<small>mm</small>	
		</div>
		<div class="weui_grid">
			<span>能见度</span>
			<i class="iconfont">&#xe616;</i>
			<small class="five-info"><%= @auto_station["visibility"] == "////" ? "-" : @auto_station["visibility"] %></small>
			<small>km</small>	
		</div>
		<div class="weui_grid">
			<span>露 点</span>
			<i class="iconfont">&#xe610;</i>
			<small class="five-info"><%= @auto_station["humi"] == "////" ? "-" : @auto_station["humi"] %></small>
			<small>%</small>	
		</div>
		<div class="weui_grid before-none">
			<span>气 压</span>
			<i class="iconfont">&#xe60b;</i>
			<small class="five-info"><%= @auto_station["pressure"] == "////" ? "-" : @auto_station["pressure"] %></small>
			<small>hpa</small>
		</div>
	</div>
</div><!--end: 当前天气 -->