<div class="tomorrow-air alpha-bg">
	<div class="part" style="border-right: 1px solid rgba(255,255,255,0.2);">
		<!-- 数据时间段 -->
		<div class="now-time"><%= Date.tomorrow.strftime("%F") %> 上午 06时 - 12时</div>
		<!-- 明天上午的空气质量 -->
		<% noon = @result[:aqi][1] %>
		<div class="now-air">
			<span class="color<%= aqi_levels(noon)[1] %>"><%= noon %></span> AQI
		</div>
		<div class="tips">
			<%= raw(split_air_level(@result[:level][1], noon)) %>
		</div>
		<!-- 主要污染物 -->
		<div class="pollutant">主要污染物： <%= aqi_format @result[:pripoll][1] %></div>
	</div>
	<div class="part">
		<!-- 数据时间段 -->
		<div class="now-time"><%= Date.tomorrow.strftime("%F") %> 下午 12时 - 20时</div>
		<!-- 明天下午的空气质量 -->
		<% afternoon = @result[:aqi][2] %>
		<div class="now-air">
			<span class="color<%= aqi_levels(afternoon)[1] %>"><%= afternoon %></span> AQI
		</div>
		<div class="tips">
			<%= raw(split_air_level(@result[:level][2], afternoon)) %>
		</div>
		<!-- 主要污染物 -->
		<div class="pollutant">主要污染物： <%= aqi_format @result[:pripoll][2] %></div>
	</div>
</div><!-- 明天空气质量 -->
