<% content_for :title, "空气质量" %>
<!-- 生活指数 -->
<div class="weui_container">
	<div class="weui_content air-quality">
		<!-- 空气质量描述 -->
		<div class="my-panel">
			<div class="panel-hd">
				空气质量<span class="float-right"><%= @result[:time] %>&nbsp;&nbsp;<%#= week_name @result[:time].to_time %>&nbsp;&nbsp;29分钟前发布</span>
			</div>
			<div class="panel-bd center">
				<!-- 数据时间段 -->
				<div class="now-time">今天夜间 20时 - 06时</div>
				<!-- 现在的空气质量 -->
				<div class="now-air">
					<span class="color2"><%= @result[:aqi][0] %></span> AQI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="tips"><div class="tips-l color2"><%= @result[:level][0] %></div><div class="tips-r color2"><%= @result[:level][0] %></div></div>
				</div>
				<!-- 主要污染物 -->
				<div class="pollutant">主要污染物： <%= @result[:pripoll][0] %></div>
				<!-- 范围 -->
				<ul class="range">
					<li class="bg1" style="height: 10px;"></li>
					<li class="bg2" style="height: 10px;"></li>
					<li class="bg3" style="height: 10px;"></li>
					<li class="bg4" style="height: 10px;"></li>
					<li class="bg5" style="height: 10px;"></li>
					<li class="bg6" style="height: 10px;"></li>
				</ul>
				<!-- 刻度 -->
				<ul class="range-info">
					<li><div><span class="pull-left">0</span>50</div><div>优</div></li>
					<li><div>100</div><div>良</div></li>
					<li><div>150</div><div>轻度</div></li>
					<li><div>200</div><div>中度</div></li>
					<li><div>300</div><div>重度</div></li>
					<li><div>500</div><div>严重</div></li>
				</ul>
				<!-- 说明 -->
				<div class="air-intro">健康影响：空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响。极少数异常敏感人群应减少户外活动。</div>
				<!-- 分割线 -->
				<hr class="divider">
			</div>
		</div><!-- 空气质量描述 -->

		<!-- 明天空气质量 -->
		<div class="tomorrow-air alpha-bg">
			<div class="part" style="border-right: 1px solid rgba(255,255,255,0.2);">
				<!-- 数据时间段 -->
				<div class="now-time">明天上午 06时 - 12时</div>
				<!-- 现在的空气质量 -->
				<div class="now-air">
					<span class="color2"><%= @result[:aqi][1] %></span> AQI
				</div>
				<div class="tips">
					<div class="tips-l color2"><%= @result[:level][1] %></div><div class="tips-r color2"><%= @result[:level][1] %></div>
				</div>
				<!-- 主要污染物 -->
				<div class="pollutant">主要污染物： <%= @result[:pripoll][1] %></div>
			</div>
			<div class="part">
				<!-- 数据时间段 -->
				<div class="now-time">明天下午 12时 - 20时</div>
				<!-- 现在的空气质量 -->
				<div class="now-air">
					<span class="color2"><%= @result[:aqi][2] %></span> AQI
				</div>
				<div class="tips">
					<div class="tips-l color2"><%= @result[:level][2] %></div><div class="tips-r color2"><%= @result[:level][2] %></div>
				</div>
				<!-- 主要污染物 -->
				<div class="pollutant">主要污染物： <%= @result[:pripoll][2] %></div>
			</div>
		</div><!-- 明天空气质量 -->

		<!-- 过去24小时空气质量指数变化图 -->
		<div class="last24 alpha-bg">
			<div class="title">过去24小时空气质量指数变化图</div>
			<div class="content">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#aqi" aria-controls="aqi" role="tab" data-toggle="tab">
			    		<div>AQI</div>
			    		<div>空气质量</div>
			    		<div>90</div>
				    </a>
			    </li>
			    <li role="presentation">
			    	<a href="#pm25" aria-controls="pm25" role="tab" data-toggle="tab">
			    		<div>PM2.5</div>
			    		<div>细颗粒物</div>
			    		<div>90</div>
			    	</a>
			    </li>
			    <li role="presentation">
			    	<a href="#O3" aria-controls="O3" role="tab" data-toggle="tab">
			    		<div>O3</div>
			    		<div>臭氧</div>
			    		<div>69</div>
			    	</a>
			    </li>
			    <li role="presentation">
			    	<a href="#pm10" aria-controls="pm10" role="tab" data-toggle="tab">
			    		<div>PM10</div>
			    		<div>可吸入颗粒物</div>
			    		<div>71</div>
			    	</a>
			    </li>
			    <li role="presentation">
			    	<a href="#NO3" aria-controls="NO3" role="tab" data-toggle="tab">
			    		<div>NO3</div>
			    		<div>二氧化氮</div>
			    		<div>17</div>
			    	</a>
			    </li>
			  </ul><!-- Nav tabs -->
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="aqi">
			    	<div id="aqi_chart"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="pm25">
			    	<div id="pm25_chart"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="O3">
			    	<div id="O3_chart"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="pm10">
			    	<div id="pm10_chart"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="NO3">
			    	<div id="NO3_chart"></div>
			    </div>
			  </div><!-- Tab panes -->
			</div>
		</div><!-- 过去24小时 -->
	</div>
</div>


<% content_for :scripts do %>
	<script>
		$(function() {
			$(".weather-right").width(document.body.clientWidth - 180);
			// 设置图表宽度，隐藏的tab会出现图表宽度失常问题
			$(".tab-pane div").width(document.body.clientWidth - 30);
		});
	</script>

	<!-- aqi -->
	<%= render partial: "air_chart", locals: { dom_id: "aqi_chart" } %>
	<!-- PM2.5 -->
	<%= render partial: "air_chart", locals: { dom_id: "pm25_chart" } %>
	<!-- 臭氧 -->
	<%= render partial: "air_chart", locals: { dom_id: "O3_chart" } %>
	<!-- PM10 -->
	<%= render partial: "air_chart", locals: { dom_id: "pm10_chart" } %>
	<!-- 二氧化氮 -->
	<%= render partial: "air_chart", locals: { dom_id: "NO3_chart" } %>
<% end %>