<% content_for :title, "五日预报" %>
<!-- 五日天气预报 -->
<div class="weui_container">
	<div class="weui_content">

		<div class="my-panel now-weather">
			<!-- 发布时间 -->
			<p class="release right">
				<%= @auto_station["datetime"].to_time.strftime("%m月%d日") %>
				<%= week_name @auto_station["datetime"].to_time %>
				<%= @auto_station["datetime"].to_time.strftime("%H:%M") %>发布</p>
			<!-- 天气 -->
			<div class="weather-info">
				<div class="weather-left"><span><%= @auto_station["tempe"] %></span><span style="padding-left: 8px;">˚</span></div>
				<div class="weather-right">
					<div class="right">
						<div class="warn"><i class="iconfont">&#xe632;</i>橙色预警</div>
					</div>
					<div class="location"><%#= @community.street %><i class="iconfont">&#xe612;</i></div>
				</div>
			</div>
			<!-- 气温 -->
			<div class="other-info">
				<span><%= @weathers.first.second.last %></span>
				<i class="iconfont">&#xe61a;</i>
				<span><strong><%= @weathers.first.second.second %>°</strong></span>
				<i class="iconfont">&#xe61f;</i>
				<span><strong><%= @weathers.first.second.first %>˚</strong></span>
			</div>
		</div>

		<!--天气实况 -->
		<%= render partial: "now_weather" %>

		<!--begin: 五日预报 -->
		<div class="my-panel" style="margin-bottom: 0;">
			<div class="panel-hd alpha-bg">五日预报</div>
			<div class="panel-bd alpha-bg weui_grids five-weather" style="padding-top: 8px;">
				<% @weathers.each_with_index do |(key, value), index| %>
					<div class="weui_grid <%= "before-none" if index == 4 %>" style="padding-top: 0;">
						<span class="week-day">
							<% if key.to_date == Date.today %>
								今天
							<% elsif key.to_date == Date.tomorrow %>
								明天
							<% else %>
								<%= week_name key %>
							<% end %>
						</span>
						<i class="iconfont icon-duoyun"></i>
						<span><%= value.last %></span>
						<div class="empty"></div>
						<i class="iconfont icon-duoyun"></i>
						<span><%= value.last %></span>
						<small>东风</small>
						<small> <3级 </small>
					</div>
				<% end %>
				<!-- 五日天气图表 -->
				<div id="five_weather_chart"></div>
			</div>
		</div><!--end: 五日预报 -->
		
	</div>
</div>

<% content_for :scripts do %>
	<script>
		$(function() {
			$(".weather-right").width(document.body.clientWidth - 180);
			// 五日天气图表
			<%= render partial: "five_day_weather_chart" %>
		})
	</script>
<% end %>

