<% content_for :title, "五日预报" %>
<!-- 五日天气预报 -->
<div class="weui_container">
	<div class="weui_content">

		<div class="my-panel now-weather">
			<div class="toper-bar row">
				<div class="location col-xs-5"><%= @district %><i class="iconfont">&#xe612;</i></div>
				<!-- 发布时间 -->
				<p class="col-xs-7 right">
					<%= @auto_station["Datetime"].to_time.strftime("%m月%d日") %>
					<%= week_name @auto_station["Datetime"].to_time %>
					<%= @auto_station["Datetime"].to_time.strftime("%H:%M") %>发布</p>	
			</div>
			<!-- 天气 -->
			<div class="weather-info">
				<div class="weather-left">
					<span>
						<%= @auto_station["Tempreture"] %>
					</span>
					<span style="padding-left: 8px;">˚</span>
				</div>
				<div class="weather-right">
					<%=link_to city_warn_forecast_services_path do %> 
						<div class="right">
						<% if @warn.blank? %>
							<div class="warn">
								<i class="iconfont">&#xe632;</i>暂无预警
							</div>
						<% else %>
							<% @warn.each do |item| %>
								<div class="warn">
									<%= image_tag "warnings/#{Warning.tran_type(item['TYPE'])}#{Warning.tran_level(item['LEVEL'])}.png" %>
									<%= "#{item['TYPE']}#{item['LEVEL']}预警" %>
								</div>
							<% end %>
						<% end %>
						</div>
					<% end %>
				</div>
			</div>
			<!-- 气温 -->
			<div class="other-info">
				<span><%= @weathers.first[:Day] %></span>
				<i class="iconfont">&#xe61a;</i>
				<span><%= @weathers.first[:HighTmp] %>°</span>
				<i class="iconfont">&#xe61f;</i>
				<span><%= @weathers.first[:LowTmp] %>°</span>
			</div>
		</div>

		<!--天气实况 -->
		<%= render partial: "now_weather" %>

		<!--begin: 五日预报 -->
		<div class="my-panel" style="margin-bottom: 0;">
			<div class="panel-hd alpha-bg">五日预报</div>
			<div class="panel-bd alpha-bg weui_grids five-weather" style="padding-top: 8px;">
			<!-- {日期 => {低温，高温，天气, 风向， 风速}, ...} -->
				<% @weathers.each do |value| %>
					<!-- 拆分天气 -->
					<div class="weui_grid" style="padding-top: 0;">
						<span class="week-day"><%= value[:Time] %></span>
						<i class="iconfont <%= FiveDayWeather.weather_keyword value[:Day] %>"></i>
						<span style="height: 34px;"><%= value[:Day] %></span>
						<div class="empty"><!-- 图表预留位置 --></div>
						<i class="iconfont <%= FiveDayWeather.weather_keyword value[:Night] %>"></i>
						<span><%= value[:Night] %></span>
						<small><%= value[:Wind] %></small>
						<small><%= value[:WindLev] %></small>
					</div>
				<% end %>
				<!-- 五日天气图表 -->
				<div id="five_weather_chart"></div>
			</div>
		</div><!--end: 五日预报 -->
		
	</div>
</div>

<% content_for :scripts do %>
	<script>
		$(function() {
			$(".weather-right").width(document.body.clientWidth - 180);
			// 五日天气图表
			<%= render partial: "five_day_weather_chart" %>
			
		})

		//屏幕旋转事件监听
    $(window).on('orientationchange', function() {
      window.location.reload();
    });
	</script>
<% end %>

