<% content_for :title, "预报服务列表" %>

<div class="weui_container">
	<div class="weui_content">
		<div class="my-panel">
			<div class="panel-hd">
				<ul>
					<li><%= link_to "全市预警", city_warn_forecast_services_path, style: "color: #fff;" %></li><br><br>
					<li><%= link_to "五日天气预报", five_day_weather_forecast_services_path, style: "color: #fff;" %></li><br><br>
					<li><%= link_to "健康气象", healthy_weather_forecast_services_path, style: "color: #fff;" %></li><br><br>
					<li><%= link_to "生活指数", life_index_forecast_services_path, style: "color: #fff;" %></li><br><br>
					<li><%= link_to "空气质量", air_quality_forecast_services_path, style: "color: #fff;" %></li><br><br>
					<li><%= link_to "社区", interact_communities_path, style: "color: #fff;" %></li><br><br>
				</ul>
			</div>
		</div>
	</div>
</div>