<% content_for :title, "生活指数" %>
<!-- 生活指数 -->
<div class="weui_container">
	<div class="weui_content">
		<div class="my-panel life-index">
			<div class="panel-hd alpha-bg">
				生活指数<span class="float-right"><%= Time.now.strftime("%m月%d日") %>&nbsp;&nbsp;<%= week_name Time.now %>&nbsp;&nbsp;29分钟前发布</span>
			</div>
			<div class="panel-bd">
				<% @index.each_with_index do |(key, value), index| %>
					<div class="weui_grid alpha-bg <%= "before-none" if index.odd? %> <%= "after-none" if index == @index.count - 1 || index == @index.count - 2 %>">
						<div class="index-left center">
							<i class="iconfont <%= life_index_icon key %>"></i>
						</div>
						<div class="index-right center">
							<span><%= value.first %> 级</span>
							<small><%= key %></small>
							<span><%= value.last %></span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>