<div class="disaster_picture_container">
  <div class="communities_centre_userinfo">
    <div class="weui_container communities_centre_userinfo_content">
      <div class="row">
        <%#= @disaster.subscriber.nick_name %>, 感谢您上报灾情. 
        <br>请上传灾情照片完善<灾情上报>流程.
      </div>
    </div>
  </div>

  <div class="disaster_picture_content">
    <div class="row disaster-picture-list">
      <% @disaster.disaster_pictures.each do |picture| %>
        <% if picture.image.present? %>
          <%= image_tag picture.image.url %>
        <% end %>
      <% end %>
    </div>
    <div class="row disaster-picture-push">
    <%= form_for(@disaster_pictures, url: disaster_pictures_path, :html => { :multipart => true } ) do |f| %>
      <%= f.hidden_field :disaster_id, :value => @disaster.id %>
      <div class="row submit_input">
        <%= f.file_field :image%>
      </div>
      <div class="headTab headTabRight col-xs-5"><a href="javascript:;" id= "head_List"><%= f.submit "上传", class: "btn btn-info btn-lg", :style => "width:100%" %></a></div>
      <div class="headTab headTabRight col-xs-5 col-xs-offset-2"><a href="../communities/interact" class= "btn btn-success btn-lg" style="width: 100%;">结束上报</a></div>
        
    <% end %>
    </div>
  </div>
</div>
