<p id="notice"><%= notice %></p>
<div class="row panel panel-default">
  <table id="communities-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
      <td width="180px">所属区县</td>
      <td>街道</td>
      <td>类型</td>
      <td>状态</td>
      <td width="200px">操作</td>
    </thead>

    <tbody>
      <% @communities.each do |commun| %>
        <tr>
          <td><%= commun.district %></td>
          <td><%= commun.street %></td>
          <td><%= commun.c_type %></td>
          <td><%= commun.status %></td>
          <td>
            <%= link_to '切换状态', switch_admin_community_path(commun), :class => "btn btn-xs btn-info" %>
            <%= link_to t('删除', :default => t("删除")),
              admin_community_path(commun),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?')) },
              :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to '添加街道', new_admin_community_path %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('#communities-table').dataTable({
      bAutoWidth: false,
      'oLanguage': {
        "oAria": {
            "sSortAscending": ": 升序排列",
            "sSortDescending": ": 降序排列"
        },
        "oPaginate": {
            "sFirst": "首页",
            "sLast": "末页",
            "sNext": "下页",
            "sPrevious": "上页"
        },
        "sEmptyTable": "没有相关记录",
        "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
        "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
        "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
        "sInfoPostFix": "",
        "sDecimal": "",
        "sThousands": ",",
        "sLengthMenu": "每页显示条数: _MENU_",
        "sLoadingRecords": "正在载入...",
        "sProcessing": "正在载入...",
        "sSearch": "搜索:",
        "sSearchPlaceholder": "",
        "sUrl": "",
        "sZeroRecords": "没有相关记录"
      }
    });
  </script>
<% end %>
