<div class="row">
  <div class="col-xs-9">
    <div class="col-xs-12 question-option">
      标题: <%= @question.q_title %>
    </div>
    <div class="col-xs-12 question-option">
      说明: <%= @question.q_digest %>
    </div>
    <div class="col-xs-12 question-option">
      题型: <%= @question.q_type%>
    </div>
    <% unless @question.q_type.eql?('填空') %>
    <div class="question_options">
      <span>选项:</span>
      <ul>
      <% @question.options.each do |o| %>
        <li><%= o.option_title %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
<%= link_to "编辑", edit_admin_question_path(@question) %> | <%= link_to "返回", admin_questions_path %>
