<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag "community2.png", :style => "width: 100%; max-height: 160px;" %>
    </div>
    <div class="col-xs-12">
      <h3>上海市社区气象安全一点通</h3>
    </div>
    <div class="col-xs-12">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本微信平台针对气象防灾减灾社区提供气象灾害风险服务。目前已开通杨浦区五角场、新江湾城街道两个社区，如您绑定两者之一，就可实时获取社区灾害性天气提醒、气象实况和社区气象灾害风险分布。同时您还可以加入防灾减灾志愿者队伍，通过灾情互动、调查问卷与我们开展线上互动。</p>
    </div>
    <div class="col-xs-12">
      <% if @subscriber.community.present? %>
        <%= link_to "加入志愿者队伍", "/volunteers/new?openid=#{@subscriber.openid}" %>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%= form_for @subscriber,  :url => { :action => :update } do |f| %>
        <div class="form-inputs">
          <div class="input-group col-xs-12">
            <h3>Hello, <%= @subscriber.nick_name %></h3>
            <%= f.hidden_field :openid, value: @subscriber.openid %>
          </div>
          <div class="space-6"></div>

          <% if @subscriber.community.present? %>
            <div class="input-group col-xs-12">
            <%= f.select :street, options_for_select(Community.where("street <> '上海'").distinct.pluck(:street), @subscriber.community.street), options = {:prompt =>"请选择绑定区县" }, :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, options_for_select(Community.where("street = ?", @subscriber.community.street).pluck(:district), @subscriber.community.district), options ={:prompt =>"请选择绑定街道"}, :class =>"form-control input" %>
            </div>
          <% else %>
            <div class="input-group col-xs-12">
            <%= f.select :street, Community.where("street <> '上海'").distinct.pluck(:street), options = {:prompt =>"请选择绑定区县" }, :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, [], options ={:prompt =>"请选择绑定街道"}, :class =>"form-control input" %>
            </div>
          <% end %>
          <div class="space-6"></div>
          <div class="col-xs-12">
            <div class="btn-group btn-group-justified ">
              <%= f.submit "提交", :class => "btn btn-success bg-lg", :style => "width:100%" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
  <div style="height: 50px;"></div>
</div>
<%= content_for :scripts do %>
  <%= javascript_tag do %>
    get_districts_path = "<%= get_districts_subscribers_path %>"
  <% end %>
  <%= javascript_include_tag "weixin_comm", 'data-turbolinks-track' => true  %>
<% end %>
