<div id="map_container1"></div>
<% community = @subscriber.community %>
<div class="subscribers-container">
  <div class="row">
    <div class="col-xs-12">
      <p class="subscribers-hello">Hello, <%= @subscriber.nick_name %></p>
    </div>

    <div class="col-xs-12">
      <i class="iconfont" style="color: #F5A623;">&#xe607;</i>
      您当前定位社区为：
      <span>
        <% if @community %>
          <%= "#{@community["District_Name"]}#{@community["Name"]}社区" %>
        <% else %>
          <button class="btn btn-xs btn-info" onclick="window.location.reload();">重新定位</button>
        <% end %>
      </span>
    </div>

    <div class="col-xs-12">
      <i class="iconfont" style="color: #F5A623;">&#xe607;</i>
      <% if community.present? %>
        您当前绑定社区为：
        <%= "#{community.district}#{community.street}社区" %>
      <% else %>
        您当前未绑定社区，请点击选择社区按钮
      <% end %>
    </div>

    <div class="col-xs-12 logic-btn">
      <a href="javascript:;" class="weui_btn weui_btn_plain_primary btn-block" id= "head_List" style="text-decoration: none;">选择社区</a>
      <% if community.present? %>
        <%= link_to "加入志愿者", "/volunteers/new?openid=#{@subscriber.openid}", class: "weui_btn weui_btn_plain_primary btn-block", style: "text-decoration: none;" %>
      <% end %>
      <%= link_to "进入社区实况", "http://weixin.lightning.sh.cn/oauths?reurl=http://weixin.lightning.sh.cn/communities/detection", class: "weui_btn weui_btn_plain_default btn-block", style: "text-decoration: none;" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% districts = Community.where("district <> '上海'").distinct.pluck(:district) %>
      <% streets = Community.where("district = ?", @subscriber.community.district).pluck(:street) %>
      <%= form_for @subscriber,  :url => { :action => :update } do |f| %>
        <div class="form-inputs" style="display: none;">
          <div class="input-group col-xs-12">
            <%= f.hidden_field :openid, value: @subscriber.openid %>
            <%= hidden_field_tag 'lon', params[:lon] %>
            <%= hidden_field_tag 'lat', params[:lat] %>
          </div>
          <div class="space-6"></div>

          <% if @subscriber.community.present? %>
            <div class="input-group col-xs-12">
            <%= f.select :district, options_for_select(Community.where("district <> '上海'").distinct.pluck(:district), @subscriber.community.district), options = {:prompt =>"请选择绑定区县" }, selected: "松江", :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, options_for_select(Community.where("district = ?", @subscriber.community.district).pluck(:street), @subscriber.community.street), options ={:prompt =>"请选择绑定街道"}, selected: "新桥镇", :class =>"form-control input" %>
            </div>
          <% else %>
            <div class="input-group col-xs-12">
            <%= f.select :district, Community.where("district <> '上海'").distinct.pluck(:district), options = {:prompt =>"请选择绑定区县" }, :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, [], options ={:prompt =>"请选择绑定街道"}, :class =>"form-control input" %>
            </div>
          <% end %>
          <div class="space-6"></div>
          <%= f.submit "绑定新社区", :class => "btn bind-btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div style="height: 50px;"></div>
</div>

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    get_streets_path = "<%= get_streets_subscribers_path %>"
  <% end %>
  <%= javascript_include_tag "weixin_comm", 'data-turbolinks-track' => true  %>
<% end %>

<%= render partial: "weixin_share/mapbar_container", locals: { lon: params[:lon], lat: params[:lat] } %>

<script type="text/javascript">
  $("#head_List").on("click", function(){
    if($(".form-inputs").css("display")=="none"){
      $(".form-inputs").slideDown(500);
    }else{
      $(".form-inputs").slideUp(500);
    }
  });
</script>
