<div id="map_container1"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>上海市社区气象安全一点通</h3>
    </div>
    <div class="col-xs-12">
      <a href="javascript:;" class="pull-right right-pull" id= "head_List" style="text-decoration: none;">［ 手动选择 ］</a>
      <div class="communities_change1">
        <i class="iconfont" style="color: #F5A623;">&#xe607;</i><span id="location_address"></span>
      </div>
    </div>
    <div class="col-xs-12">
      <% if @subscriber.community.present? %>
        <%= link_to "加入志愿者队伍", "/volunteers/new?openid=#{@subscriber.openid}" %>
      <% end %>
    </div>
    <div class="col-xs-12 notice">
      <%= notice %>
    </div>
    <div class="col-xs-12">
      <%= form_for @subscriber,  :url => { :action => :update } do |f| %>
        <h3>Hello, <%= @subscriber.nick_name %></h3>
        <div class="form-inputs" style="display: none;">
          <div class="input-group col-xs-12">
            <%= f.hidden_field :openid, value: @subscriber.openid %>
          </div>
          <div class="space-6"></div>

          <% if @subscriber.community.present? %>
            <div class="input-group col-xs-12">
            <%= f.select :district, options_for_select(Community.where("district <> '上海'").distinct.pluck(:district), @subscriber.community.district), options = {:prompt =>"请选择绑定区县" }, :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, options_for_select(Community.where("district = ?", @subscriber.community.district).pluck(:street), @subscriber.community.street), options ={:prompt =>"请选择绑定街道"}, :class =>"form-control input" %>
            </div>
          <% else %>
            <div class="input-group col-xs-12">
            <%= f.select :district, Community.where("district <> '上海'").distinct.pluck(:district), options = {:prompt =>"请选择绑定区县" }, :class =>"form-control input" %>
            </div>
            <div class="space-6"></div>
            <div class="input-group col-xs-12">
              <%= f.select :community, [], options ={:prompt =>"请选择绑定街道"}, :class =>"form-control input" %>
            </div>
          <% end %>
            <div class="space-6"></div>
        </div>
        <div class="btn-group btn-group-justified ">
          <%= f.submit "提交", :class => "btn makesure btn-success", :style => "width:100%" %>
        </div>
      <% end %>
    </div>
  </div>
  <div style="height: 50px;"></div>
</div>
<%= content_for :scripts do %>
  <%= javascript_tag do %>
    get_streets_path = "<%= get_streets_subscribers_path %>"
  <% end %>
  <%= javascript_include_tag "weixin_comm", 'data-turbolinks-track' => true  %>
<% end %>

<%= render partial: "weixin_share/mapbar_container" %>
<script type="text/javascript">
  $("#head_List").on("click", function(){
    if($(".form-inputs").css("display")=="none"){
      $(".form-inputs").slideDown(800);
    }else{
      $(".form-inputs").slideUp(800);
    }
  });
</script>
