<p id="notice"><%= notice %></p>
<div class="row panel panel-default">
  <table id="users-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
    <thead>
      <td width="180px">用户名</td>
      <td>姓名</td>
      <td>当前登录时间</td>
      <td>当前登录IP</td>
      <td>最后登录时间</td>
      <td>最后登录IP</td>
      <td width="50px">操作</td>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.current_sign_in_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td>
            <!-- <%= link_to '显示', admin_user_path(user), :class => "btn btn-xs btn-info" %> -->
            <!-- <%= link_to '编辑', edit_admin_user_path(user), :class => "btn btn-xs btn-primary" %> -->
            <%= link_to t('删除', :default => t("删除")),
              admin_user_path(user),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '确定删除?')) },
              :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('#users-table').dataTable({
      bAutoWidth: false,
      'oLanguage': {
        "oAria": {
            "sSortAscending": ": 升序排列",
            "sSortDescending": ": 降序排列"
        },
        "oPaginate": {
            "sFirst": "首页",
            "sLast": "末页",
            "sNext": "下页",
            "sPrevious": "上页"
        },
        "sEmptyTable": "没有相关记录",
        "sInfo": "第 _START_ 到 _END_ 条记录，共 _TOTAL_ 条",
        "sInfoEmpty": "第 0 到 0 条记录，共 0 条",
        "sInfoFiltered": "(从 _MAX_ 条记录中检索)",
        "sInfoPostFix": "",
        "sDecimal": "",
        "sThousands": ",",
        "sLengthMenu": "每页显示条数: _MENU_",
        "sLoadingRecords": "正在载入...",
        "sProcessing": "正在载入...",
        "sSearch": "搜索:",
        "sSearchPlaceholder": "",
        "sUrl": "",
        "sZeroRecords": "没有相关记录"
      }
    });
  </script>
<% end %>
