<div class="weui_tab_bd">
  <div class="weui_content_communities">

    <div class="head weui_tabbar">
      <div class="headTab headTabLeft col-xs-6"><a href="javascript:;" id="head_Map" class="weui_bar_item_on">地图</a></div>
      <div class="headTab headTabRight col-xs-6"><a href="javascript:;" id= "head_List">列表</a></div>
    </div>
    <div id="map_container"></div>
    <!-- <div id="map_container"></div> -->
    <div id="showList" class="row" style="display: none;">
      <% if @disasters.present? != true %>
        <div class="col-xs-12 show_disasters alpha-bg"><h4>当前没有灾情列表！</h4></div>
      <% else %>
        <% @disasters.each do |disaster| %>
          <div class="col-xs-12 show_disasters alpha-bg">
            <div class="row">时间: <%= disaster.occur_time.strftime("%Y-%m-%d %H:%M") %></div>
            <div class="row">类型: <%= disaster.disaster_type %></div>
            <div class="row">说明: <%= truncate(disaster.explain,length: 20) %></div>
            <div class="row">地点: <%= disaster.disaster_position.try(:address) %></div>
          </div>
          <div class="col-xs-12 show_disasters text-center show_disasters_push alpha-bg">
            <div class="col-xs-6">
              <%= link_to "详细信息", disaster_path(disaster) %>
            </div>
            <%#= if disaster.subscriber.id == @subscriber.id %>
            <div class="col-xs-6">
              <%= link_to "上传图片", new_disaster_picture_path(disaster_id: disaster.id) %>
            </div>
            <%#= end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="rightTabContent">
      <div class="rightTab rightTabUp alpha-bg">
        <a href="javascript:;" id="disaster_loading" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont">&#xe600;</i>
            </div>
            <p class="rightTabUp_label text-center">灾情上报</p>
        </a>
        <!-- <hr class="tab_hr"> -->
      </div>
      <div class="rightTab rightTabDown alpha-bg">
        <a href="javascript:;" id="relaodMap" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont">&#xe60c;</i>
            </div>
            <p class="rightTabDown_label text-center">刷新</p>
        </a>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    disasters = <%= @disasters.to_json.html_safe %>
  <% end %>
  <script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=5l5GtYwm4wTs7hBpeijR7CeGQEbs8jwP></script>
  <script type="text/javascript">

    $(document).ready(function() {
      var height = $(window).height();
      var width = $(window).width();
        $("div#map_container").height(height);
        $("div#map_container").width(width);
    });

    $("#relaodMap").on("click",function(){
      window.location.reload();
    });

    $("#disaster_loading").on("click",function(){
      window.location = "/disaster_positions/new";
    });

    $("#head_Map").on("click", function(){
      $("#head_Map").removeClass("weui_bar_item_on");
      $(this).addClass("weui_bar_item_on");
      $("#map_container").show();
      $("#showList").hide();
    });
    $("#head_List").on("click", function(){
      $("#head_List").removeClass("weui_bar_item_on");
      $(this).addClass("weui_bar_item_on");
      $("#map_container").hide();
      $("#showList").show();
    });
    
    $(document).ready(function() {
      init_data();
      function init_data() {
        var map = new BMap.Map("map_container");
        map.centerAndZoom("上海",12);      // 初始化地图,用城市名设置地图中心点
        map.enableScrollWheelZoom(true);
        map.enableInertialDragging();   //两秒后开启惯性拖拽

        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
          }
          else {
            alert('failed'+this.getStatus());
          }        
        },{enableHighAccuracy: true})

        for(var i = 0; i < disasters.length; i++) {
          addmarker(disasters[i],map)
        }
      }

        // 创建小狐狸
      // var pt = new BMap.Point(121.186, 31.3618);
      // var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300,157));
      // var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
      // map.addOverlay(marker2); 


      function addmarker(d,map) {
        
        if(d.disaster_position == null){return;}
        var myIcon = new BMap.Icon("http://webapi.amap.com/images/4.png", new BMap.Size(100,57));
        var icon;
        if(d.type=="暴雨"){
          icon = new BMap.Icon("http://61.152.126.156/cms/resource/img/icon/rain.png", new BMap.Size(300,157));
        }else if(d.type=="雷电"){
          icon = new BMap.Icon("http://61.152.126.156/cms/resource/img/icon/lightning.png", new BMap.Size(300,157));
        }else if(d.type=="大风"){
          icon = new BMap.Icon("http://61.152.126.156/cms/resource/img/icon/win.png", new BMap.Size(300,157));
        }else{
          icon = new BMap.Icon("http://webapi.amap.com/images/4.png", new BMap.Size(300,157));
        }
        var lanlat = new BMap.Point(d.disaster_position.lon, d.disaster_position.lat);
        // var marker2 = new BMap.Marker(lanlat,{icon:myIcon});  // 创建标注
        // map.addOverlay(marker2);

        var sContent ="<div class='text-center'>"+
        "<div>时间:"+d.occur_time+"</div>"+
        "<img id='imgDemo' style='text-align:center;height:90px;width:80px;' src='system/"+"27"+"/images/medium/image.jpg'/>"+
        "<div style='word-break:break-all;width:250px;'>说明:"+d.explain+"</div>"+
        "<div>"+"<a style='color:red;' href='/disasters/"+d.id+"'>详细说明</a>"+"</div>"+"</div>";


        var marker = new BMap.Marker(lanlat,{icon:myIcon});
        var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
        map.addOverlay(marker);
        marker.addEventListener("click", function(){          
           this.openInfoWindow(infoWindow);
           //图片加载完毕重绘infowindow
           document.getElementById('imgDemo').onload = function (){
             infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
           }
        });
      }
    })
  </script>
<% end %>