<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "个人中心" %>

<div class="communities_centre_container">
  <div class="weui_tab1">
    <div class="communities_centre_userinfo">
      <div class="weui_container communities_centre_userinfo_content">
        <% if @subscriber.present? %>
          <div class="communities_centre_userinfo_image"><%= image_tag @subscriber.headimgurl, class: "user_pic img-circle", alt: "用户头像"%></div>
          <span><%= @subscriber.nick_name %></span>
        <% else %>
          <div class="communities_centre_userinfo_image"><%= image_tag "avatar-lg.png", class: "user_pic", alt: "用户头像"%></div>
          <span>游客</span>
        <% end -%>
      </div>
    </div>
    <div class="communities_belong">
      <div class="communities_belong_1">
        <i class="iconfont input-left-icon">&#xe605;</i><strong>社区</strong>
        <% if @subscriber.community.present? %>
          <%=link_to locate_subscribers_path, "data-no-turbolink" => true do %>
            <span class="pull-right right-pull">
              <span><%= @subscriber.community.district %></span><span><%= @subscriber.community.street %></span>社区
              <i class="iconfont">&#xe635;</i></span>
          <% end -%>
        <% else %>
          <%=link_to locate_subscribers_path do %> 
            <span class="pull-right right-pull">未绑定<i class="iconfont">&#xe635;</i></span>
          <% end -%>
        <% end -%>
      </div>
      <div class="communities_belong_2">
        <%= link_to detection_communities_path, class: "link" do %>
          <i class="iconfont input-left-icon">&#xe61c;</i><strong>社区实况</strong><i class="iconfont right-pull pull-right">&#xe635;</i>
        <% end %>
      </div>
    </div>
    <%= render partial: "weixin_share/tabbar", 'data-no-turbolink' => true %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var width = $(window).width();
    var height = $(window).height()*0.9;
      $("div.communities_centre_userinfo").height(height/3);
      $("img.user_pic").width(width/5)
  });
</script>
