<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "社区风险" %>
<div class="weui_tab_bd">
  <div class="communities_centre_container">
    <div class="weui_tab1">
      <% @articles.each do |article| %>
        <%= link_to article_path(id:article.id) do %>
          <div class="risk-list row">
            <div class="pic-content col-xs-3 text-center">
              <% if article.thumb_media_url.present? %>
                <%= image_tag article.thumb_media_url, class: "show_pic", alt: "文章列表图"%>
              <% else %>
                <%= image_tag "community2.png", class: "show_pic", alt: "文章列表图"%>
              <% end -%>
            </div>
            <div class="article-content col-xs-9">
              <h5 class="articletitle"><%=article.title %></h5>
              <span class="articletext"><%= truncate(article.digest,length: 60) %></span>
            </div>
          </div>
        <% end -%>
      <% end %>
    </div>
    <%= render partial: "weixin_share/tabbar" %>
  </div>
</div>

