<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "社区实况" %>

<div class="weui_container">
  <div class="weui_detection weui_content_communities">
  
    <div class="my-panel">
      <div class="panel-hd">
        <i class="iconfont" style="font-size: 18px;">&#xe607;</i>&nbsp;<%= @community.street %>社区
        <span class="float-right">
          <%= @auto_station["Datetime"].try(:to_time).try(:strftime, "%m月%d日") %>
          <%= week_name @auto_station["Datetime"].try(:to_time) %>
          <%= @auto_station["Datetime"].try(:to_time).try(:strftime, "%H:%M") %>发布
        </span>
      </div>
    </div>

    <div class="detection_content">
      <div class="detection-weather-info">
        <div class="detection-weather-icon"><i class="iconfont">&#xe632;</i></div>
        <div class="detection-weather-text">
          <span>
            <% if @warn.nil? %>
              <%= "没有预警" %>
            <% else %>
              <%= "#{@warn['type']}#{@warn['level']}预警" %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">气象实况</div>
        <div class="panel-bd">
          <div class="detection_content_grids">
            <div class="detection_content_grid">
              <p><i class="iconfont">&#xe617;</i></p>
              <p>实时温度</p>
              <p><%= @auto_station["Tempreture"] %>℃</p>
            </div>
            <div class="detection_content_grid detection_content_grid_1">
              <p><i class="iconfont">&#xe608;</i></p>
              <p>累计雨量</p>
              <p><%= @auto_station["RainHour"] %>mm</p>
            </div>
            <div class="detection_content_grid">
              <p><i class="iconfont">&#xe60f;</i></p>
              <p>风速风向</p>
              <p>
                <% if @auto_station["wind_speed"].to_f < 0.2 %>
                  静风
                <% else %>
                  <%= MonitorStation.translate_wdir(@auto_station["WindDir"]) %><%= MonitorStation.translate_wspeed(@auto_station["WindSpd"])%>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">积水实况</div>
        <div class="panel-bd">
          <% if @water_stations.present? %>
            <% @water_stations.each do |item| %>
              <p class="detection_content_ponding"><%= item["site_name"] %>积水深度：<%= item["data"] || 0 %>m</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="detection_content detection_content_3 alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">闪电分布</div>
        <div class="panel-bd">
          <p class="text-center">上海市范围内过去一小时闪电【<%=@lightningPoints.length%>个】</p>
          <div class="detection_content_lightning">
            <div id="map_container_lightning"></div>
            <!-- <img src="<%#= @lightning_img_url %>" alt="闪电分布图"> -->
          </div>
          <!-- <p class="detection_content_lightning_text text-justify">云体与大地相接触的放电现象称为地闪·用CG表示，地闪有两种：正地闪(+)和负地闪(-)，通常情况下的对地放电过程都是将云内负电荷输送到地面的负极性放电·即负地闪，但是也有一些放电将云内的正电荷输送到地面，这种现象被称为正地闪。</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "weixin_share/tabbar", 'data-no-turbolink' => true %>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    lightningPoints = <%= @lightningPoints.to_json.html_safe %>
  <% end %>
  <script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=8SWaIs2cE83Ssvv90yXPUEQQhnkG368u></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var width = $("div.detection_content_grids").width()/3;
        $("div.detection_content_grid").width(width-4);
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        var height = $(window).height()*2;
        var width = $(window).width
          $("div#map_container_lightning").height(height/3);
          $("div#map_container_lightning").width(width);
      });

      // 百度地图API功能
      var map = new BMap.Map("map_container_lightning");    // 创建Map实例
      map.centerAndZoom("上海",10);      // 初始化地图,用城市名设置地图中心点
      map.enableScrollWheelZoom(true);
      map.enableInertialDragging();   //两秒后开启惯性拖拽

      // 添加灾情图标
      for(var i = 0; i < lightningPoints.length; i++) {
        addmarker(lightningPoints[i],map)
      }

      // 更新灾情点位数据，添加点位标注
        function addmarker(obj, map) {
          var myIcon = new BMap.Icon("../../assets/images/thunder_icon.png", new BMap.Size(30,35));
          var lanlat = new BMap.Point(obj.Lon, obj.Lat);
          var marker;
          // 添加标注点
          marker = new BMap.Marker(lanlat,{icon:myIcon});
          // 打点
          map.addOverlay(marker);
        }

  </script>
<% end %>