<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'weixin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'weixin', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1462710090_6342628.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield :scripts %>

<script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=5l5GtYwm4wTs7hBpeijR7CeGQEbs8jwP></script>

<script>
	$(".weui_container").backstretch("<%= asset_path "weixin_bg.png" %>");
</script>
</body>
</html>
